generate.py.bak
__pycache__/checkpoint.cpython-313.pyc
__pycache__/chengemodeleasy.cpython-313.pyc
__pycache__/config.cpython-313.pyc
__pycache__/createmodel.cpython-313.pyc
__pycache__/data_fast.cpython-313.pyc
__pycache__/data.cpython-313.pyc
__pycache__/generate.cpython-313.pyc
__pycache__/hyena.cpython-313.pyc
__pycache__/ime.cpython-313.pyc
__pycache__/lora.cpython-313.pyc
__pycache__/main.cpython-313.pyc
__pycache__/mainh.cpython-313.pyc
__pycache__/model.cpython-313.pyc
__pycache__/tokenizer.cpython-313.pyc
__pycache__/Tynigptkarahyena.cpython-313.pyc
__pycache__/checkpoint.cpython-313.pyc
__pycache__/config.cpython-313.pyc
__pycache__/data_fast.cpython-313.pyc
__pycache__/data.cpython-313.pyc
__pycache__/generate.cpython-313.pyc
__pycache__/lora.cpython-313.pyc
__pycache__/mainh.cpython-313.pyc
__pycache__/model.cpython-313.pyc
__pycache__/tokenizer.cpython-313.pyc
__pycache__/Tynigptkarahyena.cpython-313.pyc
__pycache__/checkpoint.cpython-313.pyc
__pycache__/checkpoint.cpython-313.pyc
__pycache__/checkpoint.cpython-313.pyc
